html{
    height: 100%;
}
body{
    height: 100%;
}
@font-face {
    font-family: "BMHANNAAir";
    src: url(font/BMDOHYEON_ttf.ttf);
}
.logo{
    position: relative;
    display : table;
    width: 100%;
    height: 100%;
}
.contents{
    padding : 40px 50px 142px;
    vertical-align: top;
    display : table-cell;
}
.survey{
    position: relative;
    margin : 0 auto;
    width : 940px;
    padding : 40px;
    border : 2px solid gold;
    border-radius: 25px;
}
#next1{
    margin : 20px auto 0;
}
#next2{
    margin : 20px auto 0;
    /* display :inherit */
}
.input{
    width : 400px;
    height: 50px;
    font-size: 30px;
}
#birthday{
    height: 40px;
}
@media only screen and (max-width: 1023px){
    .logo{
        display : block;
    }
    .contents{
        padding : 0;
        display : block;
    }
    .survey{
        width : 100%;
        margin-top: 20px;
        border-radius: 15px;
    }
}
#food{
    width : 100%;
    
}
.foodimg1{
    display : inline-block;
    width : 100%;
    margin-top : 20px;
}
.foodimg{
    width : 150px;
    float : left;
}
.exp{
    float : left;
    /* padding-right: 200px; */
    width : 220px;
    margin-left: 160px;
}
li{
    font-size : 17px;
}
ul{
    margin-top : 10px;
}
#disease{
    width :50px;
}
input[type="checkbox"]{
    width : 30px;
    height: 25px;
}
span{
    font-size: 20px;
}
#end_btn{
    margin: 0 0 0 15%;
    height: 150px;
}